* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Noto Sans";
  text-align: center;
  font-size: 50px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: rgb(54, 53, 53); */
  font-family: "Noto Sans", sans-serif;
}

html {
  /* background-color: teal; */
  font-family: "Noto Sans", sans-serif;
}

body {
  /* background-color: teal; */
}

head {
  /* color: black; */
  font-family: "Noto Sans", sans-serif;
  flex-wrap: wrap;
}

/* title {
  color: rgb(73, 73, 73);
  font-family: "Noto Sans", sans-serif;
  position: absolute;
  margin: 20px;
} */

main {
  /* color: black; */
  font-family: "Noto Sans", sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 5px;
  font-size: 35px;
  font-family: "Noto Sans", sans-serif;
  /* color: rgb(73, 73, 73); */
}
input {
  max-width: 250px;
  font-size: 28px;
}
footer {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
}

button {
  max-width: fit-content;
  font-family: "Noto Sans", sans-serif;
  margin-top: 10px;
}
button:hover {
    color: color0
}
#art-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-0 {
  background-color:paleturquoise;
}
.color-1 {
  background-color:cadetblue;
}
.color-2 {
  color:coral
}
.color-3 {
  background-color:floralwhite
}
.color-4 {
  color:coral
}